.recipe-header {
    margin-top: 1em;
}

.recipe-description {
}

.recipe-meta {
    display: block;
}

.recipe-meta > span {
    padding-right: 1em;
}

.recipe-content {

}

.recipe-item > * {
    padding-right: 1em;
    display: inline-block;
}